* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.chat-container {
    width: 40%;
    margin: 50px auto;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.chat-box {
    height: 400px;
    overflow-y: scroll;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.input-container {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.botonrojo{
    background-color: red;
}
.botonazul{
    background-color: rgb(0, 47, 255);
}
button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botonrojo:hover {
    background-color: #8b3137;
}

.botonazul:hover {
    background-color: #5858f7;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.user1-message {
    background-color: #cce5ff;
    align-self: flex-start;
}

.user2-message {
    background-color: #f8d7da;
    align-self: flex-end;
}
