body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.chat-container {
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chat-window {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
    height: 300px; 
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
}

.user1 {
    background-color: #97acdf;
    align-self: flex-start;
    color: #000000; 
}

.user2 {
    background-color: #f8d7da;
    align-self: flex-end;
    color: #000000; 
}

.chat-inputs {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f1f1f1;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 48%;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
